!!!
html(lang="en")
  head
    title Nodestalgia
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#canvasContainer
      canvas#mainCanvas(data-speed=speed, data-frame-rate=framerate, data-colorize=colorize, data-sumarize=sumarize, data-time=time)

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js', type='text/javascript')
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='/javascripts/reqscanvas.js', type='text/javascript')
    script(src='/javascripts/json2.js', type='text/javascript')
